Repository woowa-techcamp-2021/deal-9, pull requests merged in 2021-07, with the labels that each got.

#37 [feature] Frontend 환경설정
  client/config/webpack.config.js
  client/package.json
  client/src/components/atoms/typography/typography.js
  client/src/components/molecules/dummy.js
  client/src/components/organisms/dummy.js
  client/src/components/pages/404/404.js
  client/src/components/pages/home/home.js
  client/src/components/pages/product/product.js
  client/src/components/templates/404/404.js
  client/src/components/templates/dummy.js
  client/src/server.js
  client/src/utils/render.js
  client/src/utils/router.js
Labels: enhancement

#39 [feature/component/atom] icon atom 추가
  .prettierignore
  client/config/file-config.js
  client/config/paths.js
  client/config/webpack.config.js
  client/package.json
  client/public/icons/add.svg
  client/public/icons/category.svg
  client/public/icons/check.svg
  client/public/icons/close.svg
  client/public/icons/heart.svg
  client/public/icons/image.svg
  client/public/icons/log-out.svg
  client/public/icons/map-pin.svg
  client/public/icons/menu.svg
  client/public/icons/message-square.svg
  client/public/icons/more-vertical.svg
  client/public/icons/send.svg
  client/public/icons/short-arrow-down.svg
  client/public/icons/short-arrow-left.svg
  client/public/icons/short-arrow-right.svg
  client/public/icons/user.svg
  client/scripts/prepare.sh
  client/src/components/atoms/icon/icon.js
  client/src/components/atoms/icon/style.scss
  client/src/components/pages/home/home.js
Labels: enhancement

#60 💄 Atom > Text
  client/src/components/atoms/Text/constant.js
  client/src/components/atoms/Text/link.js
  client/src/components/atoms/Text/style.scss
  client/src/components/atoms/Text/text.js
  client/src/components/atoms/typography/style.scss
  client/src/components/atoms/typography/typography.js
Labels: component, feature

#62 💄 Atom > anchor
  client/src/components/atoms/Anchor/anchor.js
  client/src/components/atoms/Anchor/style.scss
Labels: component, feature

#64 🚑 :ambulance: 경로, 함수명 변경
  client/src/components/pages/home/home.js
  client/src/components/pages/product/product.js
  client/src/components/templates/404/404.js
Labels: rename

#63 ✨ logout, login api
  server/routes/users.js
Labels: api

#81 💄 Atom > TextInput 추가
  client/src/components/atoms/Input/constant.js
  client/src/components/atoms/Input/input.js
  client/src/components/atoms/Input/style.scss
Labels: component, feature

#80 💄 Button Components
  client/src/components/atoms/Button/button.js
  client/src/components/atoms/Button/style.scss
  client/src/components/atoms/Text/constant.js
  client/src/components/atoms/Text/link.js
  client/src/components/atoms/Text/style.scss
  client/src/components/atoms/Text/text.js
  client/src/components/molecules/Button/category/category-button.js
  client/src/components/molecules/Button/category/style.scss
  client/src/components/molecules/Button/fab/fab.js
  client/src/components/molecules/Button/fab/style.scss
  client/src/components/molecules/Button/normal/normal-button.js
  client/src/components/molecules/Button/normal/style.scss
  client/src/components/molecules/Button/tab/style.scss
  client/src/components/molecules/Button/tab/tab-button.js
Labels: component, feature

#85 🎨 파일, 폴더, 함수 이름 통일 및 index.js에 모듈 모음
  client/src/components/atoms/Anchor/index.js
  client/src/components/atoms/Button/index.js
  client/src/components/atoms/Input/index.js
  client/src/components/atoms/Text/link.js
  client/src/components/atoms/Text/text.js
  client/src/components/atoms/icon/index.js
  client/src/components/atoms/img-box/index.js
  client/src/components/atoms/img-box/style.scss
  client/src/components/atoms/img/index.js
  client/src/components/atoms/index.js
  client/src/components/molecules/Button/category/index.js
  client/src/components/molecules/Button/fab/index.js
  client/src/components/molecules/Button/normal/index.js
  client/src/components/molecules/Button/tab/index.js
  client/src/components/molecules/addImgButton/index.js
  client/src/components/molecules/category-list-Item/index.js
  client/src/components/molecules/category-list-Item/style.scss
  client/src/components/molecules/chat-badge/index.js
  client/src/components/molecules/chat-badge/style.scss
  client/src/components/molecules/chat-bubble/index.js
  client/src/components/molecules/chat-bubble/style.scss
  client/src/components/molecules/icon-button/index.js
  client/src/components/molecules/icon-button/style.scss
  client/src/components/molecules/index.js
  client/src/components/organisms/header/index.js
  client/src/components/organisms/index.js
  client/src/components/pages/404/404.js
  client/src/components/pages/404/index.js
  client/src/components/pages/home/index.js
  client/src/components/pages/index.js
  client/src/components/pages/product/index.js
  client/src/components/templates/404/index.js
  client/src/utils/render.js
  client/src/utils/router.js
Labels: env, rename

#92 💄🐛 Molecule > Dropdown, molecues 경로 수정
  client/src/components/molecules/Button/add-img/index.js
  client/src/components/molecules/Button/add-img/style.scss
  client/src/components/molecules/Button/category/index.js
  client/src/components/molecules/chat-badge/index.js
  client/src/components/molecules/chat-bubble/index.js
  client/src/components/molecules/dropdown/index.js
  client/src/components/molecules/dropdown/style.scss
  client/src/components/molecules/icon-button/index.js
  client/src/components/molecules/index.js
  client/src/styles/style.scss
Labels: bug, component, molecule

#96 💄 Icon Atom & resource 추가
  client/src/components/atoms/icon/add.js
  client/src/components/atoms/icon/category.js
  client/src/components/atoms/icon/check.js
  client/src/components/atoms/icon/close.js
  client/src/components/atoms/icon/constant.js
  client/src/components/atoms/icon/heart.js
  client/src/components/atoms/icon/image.js
  client/src/components/atoms/icon/index.js
  client/src/components/atoms/icon/logout.js
  client/src/components/atoms/icon/map-pin.js
  client/src/components/atoms/icon/menu.js
  client/src/components/atoms/icon/message-square.js
  client/src/components/atoms/icon/more-vertical.js
  client/src/components/atoms/icon/send.js
  client/src/components/atoms/icon/short-arrow-down.js
  client/src/components/atoms/icon/short-arrow-left.js
  client/src/components/atoms/icon/short-arrow-right.js
  client/src/components/atoms/icon/style.scss
  client/src/components/atoms/icon/user.js
Labels: atom, component, feature

#93 💄 Organisms > MainHeader
  client/src/components/pages/home/index.js
Labels: component, organism

#97 Molecule > Alert 추가
  client/src/components/atoms/div/shadow-box/index.js
  client/src/components/atoms/div/shadow-box/style.scss
  client/src/components/atoms/index.js
  client/src/components/molecules/alert/index.js
  client/src/components/molecules/alert/style.scss
  client/src/components/molecules/index.js
Labels: component, feature, molecule

#99 💄 Molecule > LocationBar
  client/src/components/molecules/index.js
  client/src/components/molecules/location-bar/index.js
  client/src/components/molecules/location-bar/style.scss
Labels: component, molecule

#100 Molecule > Popup Input 추가
  client/src/common/styles/style.scss
  client/src/components/molecules/index.js
  client/src/components/molecules/popup-input/index.js
  client/src/components/molecules/popup-input/style.scss
Labels: component, feature, molecule

#101 Feature/product bar
  client/src/components/atoms/divider/index.js
  client/src/components/atoms/divider/style.scss
  client/src/components/atoms/index.js
  client/src/components/molecules/Button/icon/index.js
  client/src/components/molecules/Button/icon/style.scss
  client/src/components/molecules/Button/normal/style.scss
  client/src/components/molecules/index.js
  client/src/components/molecules/product-bar/index.js
  client/src/components/molecules/product-bar/style.scss
  client/src/utils/helper.js
Labels: component, molecule

#104 💄 Molecule > ProductImg, 💄 Molecule > InfoProduct
  client/src/components/molecules/index.js
  client/src/components/molecules/info-product/index.js
  client/src/components/molecules/info-product/style.scss
  client/src/components/molecules/product-bar/index.js
  client/src/components/molecules/product-img/index.js
  client/src/components/molecules/product-img/style.scss
Labels: component, molecule

#105 Molecule > chat list item
  client/src/components/atoms/Text/link.js
  client/src/components/atoms/Text/text.js
  client/src/components/atoms/img-box/style.scss
  client/src/components/molecules/chat-badge/style.scss
  client/src/components/molecules/product-img/index.js
  client/src/components/organisms/chat-item/index.js
  client/src/components/organisms/chat-item/style.scss
  client/src/components/organisms/index.js
Labels: component, feature, organism

#108 Feature/product list item
  client/src/components/molecules/icon-with-text/index.js
  client/src/components/molecules/icon-with-text/style.scss
  client/src/components/molecules/index.js
  client/src/components/molecules/text-with-middot/index.js
  client/src/components/molecules/text-with-middot/style.scss
  client/src/components/organisms/index.js
  client/src/components/organisms/product-list-item/index.js
  client/src/components/organisms/product-list-item/style.scss
Labels: component, organism

#112 Organism > ChatBar 추가
  client/src/components/atoms/Input/index.js
  client/src/components/atoms/icon/message-square.js
  client/src/components/molecules/Button/icon/index.js
  client/src/components/molecules/Button/icon/style.scss
  client/src/components/organisms/chat-bar/index.js
  client/src/components/organisms/chat-bar/style.scss
  client/src/components/organisms/index.js
Labels: component, organism

#113 Feature/menu template
  client/src/common/styles/style.scss
  client/src/components/molecules/Button/tab/style.scss
  client/src/components/organisms/chat-item/style.scss
  client/src/components/organisms/index.js
  client/src/components/organisms/main-header/index.js
  client/src/components/organisms/menu-tab-page/index.js
  client/src/components/organisms/menu-tab-page/style.scss
  client/src/components/organisms/product-list-item/index.js
  client/src/components/organisms/tab-bar/index.js
  client/src/components/organisms/tab-bar/style.scss
  client/src/components/pages/index.js
  client/src/components/pages/menu/index.js
  client/src/components/templates/home/index.js
  client/src/components/templates/menu/index.js
  client/src/components/templates/menu/style.scss
  client/src/utils/router.js
  client/src/utils/state.js
Labels: component, page, template

#115 ✨ 글쓰기 버튼 추가
  client/src/components/molecules/Button/fab/index.js
  client/src/components/templates/home/index.js
  client/src/components/templates/home/style.scss
Labels: feature

#116 router, routes 변경, user 관련 template, page 추가
  client/src/common/path.js
  client/src/common/styles/style.scss
  client/src/components/atoms/backdrop/index.js
  client/src/components/atoms/backdrop/style.scss
  client/src/components/atoms/index.js
  client/src/components/molecules/popup-input/index.js
  client/src/components/organisms/backdrop-popup-input/index.js
  client/src/components/organisms/backdrop-popup-input/style.scss
  client/src/components/organisms/header/constant.js
  client/src/components/organisms/header/index.js
  client/src/components/organisms/index.js
  client/src/components/pages/category/index.js
  client/src/components/pages/home/index.js
  client/src/components/pages/index.js
  client/src/components/pages/product/index.js
  client/src/components/pages/user/location/index.js
  client/src/components/pages/user/login/index.js
  client/src/components/pages/user/logout/index.js
  client/src/components/pages/user/signup/index.js
  client/src/components/templates/index.js
  client/src/components/templates/user/location/index.js
  client/src/components/templates/user/location/style.scss
  client/src/components/templates/user/login/index.js
  client/src/components/templates/user/login/style.scss
  client/src/components/templates/user/logout/index.js
  client/src/components/templates/user/logout/style.scss
  client/src/components/templates/user/signup/index.js
  client/src/components/templates/user/signup/style.scss
  client/src/index.js
  client/src/routes.js
  client/src/utils/render.js
  client/src/utils/router.js
Labels: atom, component, page, template

#117 ⚡ page render, render 분리
  client/src/utils/render.js
  client/src/utils/state.js
Labels: improvement

#119 Server 구조
  .gitignore
  server/app.js
  server/config/env.js
  server/models/db.js
  server/models/index.js
  server/models/users.js
  server/package-lock.json
  server/package.json
  server/routes/users.js
  server/src/app.js
  server/src/common/constant.js
  server/src/controllers/UserController.js
  server/src/db/createTables.js
  server/src/db/db.js
  server/src/middlewares/AuthMiddleware.js
  server/src/repositories/users.js
  server/src/routes/index.js
  server/src/routes/products.js
  server/src/routes/users.js
  server/src/utils/token.js
Labels: api, backend, setting

#118 Feature/post page
  client/src/common/path.js
  client/src/components/atoms/Input/index.js
  client/src/components/atoms/Input/style.scss
  client/src/components/molecules/Button/add-img/index.js
  client/src/components/molecules/Button/add-img/style.scss
  client/src/components/molecules/Button/cancel/index.js
  client/src/components/molecules/Button/cancel/style.scss
  client/src/components/molecules/Button/category/style.scss
  client/src/components/molecules/index.js
  client/src/components/molecules/product-upload-img/index.js
  client/src/components/molecules/product-upload-img/style.scss
  client/src/components/organisms/category-list/index.js
  client/src/components/organisms/category-list/style.scss
  client/src/components/organisms/index.js
  client/src/components/organisms/product-upload-img-list/index.js
  client/src/components/organisms/product-upload-img-list/style.scss
  client/src/components/pages/index.js
  client/src/components/pages/post/index.js
  client/src/components/templates/index.js
  client/src/components/templates/post/index.js
  client/src/components/templates/post/style.scss
  client/src/routes.js
  client/src/utils/router.js
Labels: component, organism, page, template

#121 🐛탭 버튼 호버
  client/src/components/molecules/Button/tab/style.scss
Labels: bug

#122 Feature/product item button
  client/src/components/atoms/icon/heart.js
  client/src/components/molecules/Button/icon/style.scss
  client/src/components/molecules/Button/menu/index.js
  client/src/components/molecules/Button/menu/style.scss
  client/src/components/molecules/dropdown/index.js
  client/src/components/molecules/index.js
  client/src/components/organisms/main-header/index.js
  client/src/components/organisms/menu-tab-page/index.js
  client/src/components/organisms/product-list-item/index.js
  client/src/components/pages/home/index.js
  client/src/components/pages/menu/index.js
  client/src/components/templates/home/index.js
  client/src/components/templates/menu/index.js
  client/src/global.js
  client/src/index.js
  client/src/utils/render.js
Labels: feature

#120 Feature/post page
  client/src/components/atoms/Button/index.js
  client/src/components/atoms/Button/style.scss
  client/src/components/atoms/Input/index.js
  client/src/components/atoms/Input/style.scss
  client/src/components/atoms/index.js
  client/src/components/atoms/textarea/index.js
  client/src/components/atoms/textarea/style.scss
  client/src/components/molecules/Button/add-img/index.js
  client/src/components/molecules/Button/add-img/style.scss
  client/src/components/molecules/Button/cancel/index.js
  client/src/components/molecules/Button/category/index.js
  client/src/components/molecules/Button/category/style.scss
  client/src/components/molecules/Button/icon/index.js
  client/src/components/molecules/location-bar/index.js
  client/src/components/molecules/product-upload-img/index.js
  client/src/components/organisms/category-list/index.js
  client/src/components/organisms/category-list/style.scss
  client/src/components/organisms/product-upload-img-list/index.js
  client/src/components/pages/post/index.js
  client/src/components/templates/post/index.js
  client/src/components/templates/post/style.scss
Labels: feature, page

#125 🚀 클라이언트 배포 업데이트
  client/config/env.js
  client/config/server-config.js
  client/config/webpack-development.js
  client/config/webpack-production.js
  client/config/webpack.config.js
  client/deploy.sh
  client/ecosystem.config.cjs
  client/package-lock.json
  client/package.json
  client/scripts/prepare.sh
  client/src/components/pages/user/location/index.js
  client/src/components/pages/user/login/index.js
  client/src/components/pages/user/logout/index.js
  client/src/components/pages/user/signup/index.js
  client/src/components/templates/user/login/index.js
  client/src/server.js
  server/ecosystem.config.cjs
  server/package.json
Labels: deploy

#124 Feature/page category
  client/public/icons/book.svg
  client/public/icons/clothe.svg
  client/public/icons/digital.svg
  client/public/icons/etc.svg
  client/public/icons/food.svg
  client/public/icons/furniture.svg
  client/public/icons/game.svg
  client/public/icons/kids.svg
  client/public/icons/life.svg
  client/public/icons/pet.svg
  client/public/icons/plant.svg
  client/public/icons/skirt.svg
  client/public/icons/sport.svg
  client/public/icons/veauti.svg
  client/src/components/pages/category/index.js
  server/package.json
  server/src/controllers/ProductController.js
  server/src/db/createTables.js
  server/src/db/db.js
  server/src/repositories/products.js
  server/src/routes/products.js
Labels: feature

#126 🚧Feature/img upload
  client/src/components/atoms/anchor/index.js
  client/src/components/atoms/anchor/style.scss
  client/src/components/atoms/input/constant.js
  client/src/components/atoms/input/index.js
  client/src/components/atoms/input/style.scss
  client/src/components/atoms/text/constant.js
  client/src/components/atoms/text/link.js
  client/src/components/atoms/text/style.scss
  client/src/components/atoms/text/text.js
  client/src/components/molecules/button/add-img/index.js
  client/src/components/molecules/button/add-img/style.scss
  client/src/components/molecules/button/cancel/index.js
  client/src/components/molecules/button/cancel/style.scss
  client/src/components/molecules/button/category/index.js
  client/src/components/molecules/button/category/style.scss
  client/src/components/molecules/button/fab/index.js
  client/src/components/molecules/button/fab/style.scss
  client/src/components/molecules/button/icon/index.js
  client/src/components/molecules/button/icon/style.scss
  client/src/components/molecules/button/location/index.js
  client/src/components/molecules/button/location/style.scss
  client/src/components/molecules/button/menu/index.js
  client/src/components/molecules/button/menu/style.scss
  client/src/components/molecules/button/normal/index.js
  client/src/components/molecules/button/normal/style.scss
  client/src/components/molecules/button/status/index.js
  client/src/components/molecules/button/status/style.scss
  client/src/components/molecules/button/tab/index.js
  client/src/components/molecules/button/tab/style.scss
  server/config/env.js
  server/package-lock.json
  server/package.json
  server/src/controllers/ProductController.js
  server/src/routes/products.js
  server/src/utils/upload.js
Labels: backend, feature

#129 ✨ 회원가입 api 연결
  client/src/components/pages/user/signup/index.js
  server/src/common/regex.js
  server/src/controllers/UserController.js
Labels: api, page

#131 로그인 / 로그아웃 api 연결
  client/config/env.js
  client/config/webpack.config.js
  client/src/api/BaseApiService.js
  client/src/api/UserApiService.js
  client/src/components/pages/user/login/index.js
  client/src/components/pages/user/logout/index.js
  client/src/components/pages/user/signup/index.js
  client/src/components/templates/user/login/index.js
  client/src/components/templates/user/logout/index.js
  client/src/remotes/UserRemote.js
  server/src/controllers/UserController.js
  server/src/middlewares/AuthMiddleware.js
  server/src/routes/users.js
Labels: api, backend, page

#132 Hotfix content-type
  client/src/api/BaseApiService.js
  client/src/api/UserApiService.js
  client/src/components/pages/user/location/index.js
  client/src/components/pages/user/login/index.js
  client/src/components/pages/user/logout/index.js
  client/src/components/pages/user/signup/index.js
Labels: api, hotfix

#130 Feature/products api
  client/src/api/BaseApiService.js
  client/src/api/ProductApiService.js
  client/src/app.js
  client/src/components/atoms/img-box/style.scss
  client/src/components/molecules/category-list-Item/index.js
  client/src/components/molecules/category-list-Item/style.scss
  client/src/components/molecules/empty/index.js
  client/src/components/molecules/empty/style.scss
  client/src/components/molecules/index.js
  client/src/components/molecules/product-bar/style.scss
  client/src/components/organisms/product-list-item/index.js
  client/src/components/organisms/product-list-item/style.scss
  client/src/components/organisms/product-upload-img-list/index.js
  client/src/components/pages/category/index.js
  client/src/components/pages/home/index.js
  client/src/components/pages/menu/index.js
  client/src/components/pages/post/index.js
  client/src/components/pages/product/index.js
  client/src/components/templates/category/index.js
  client/src/components/templates/home/index.js
  client/src/components/templates/home/style.scss
  client/src/components/templates/index.js
  client/src/components/templates/post/index.js
  client/src/components/templates/product/index.js
  client/src/components/templates/product/style.scss
  client/src/context.js
  client/src/remotes/ProductRemote.js
  client/src/utils/helper.js
  server/config/env.js
  server/package-lock.json
  server/package.json
  server/src/controllers/ProductController.js
  server/src/repositories/ProductRepository.js
  server/src/routes/products.js
  server/src/utils/upload.js
Labels: api, feature

#134 Feature/location api
  client/src/api/UserApiService.js
  client/src/components/pages/user/location/index.js
  client/src/components/pages/user/logout/index.js
  client/src/remotes/UserRemote.js
  server/src/controllers/UserController.js
  server/src/repositories/UserRepository.js
  server/src/routes/users.js
Labels: api

#135 🚑 isLogin 추가
  client/src/components/pages/home/index.js
  client/src/components/pages/user/location/index.js
  client/src/components/pages/user/login/index.js
  client/src/components/pages/user/logout/index.js
  client/src/utils/render.js
  client/src/utils/router.js
  client/src/utils/state.js
Labels: hotfix, page

#136 ⚡ 마지막 정리
  client/src/components/pages/home/index.js
  client/src/components/pages/post/index.js
  server/src/repositories/ProductRepository.js
Labels: hotfix

#137 🚑 로그인 안 돼있을 시 에러 핸들링
  client/src/components/pages/home/index.js
  client/src/components/pages/user/logout/index.js
  client/src/components/templates/product/style.scss
Labels: bug
